<ng-template #content let-modal>
  <div class="modal-header d-flex justify-content-between align-items-center">
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body p-0">
    <app-view-details [SelectedConcept]="selectedConcept"></app-view-details>
  </div>
</ng-template>
<div style="margin:100px">
  <p-accordion>
    <ng-container *ngFor="let chap of chapter">
      <p-accordionTab header={{chap.chapter}} [selected]="true">
        <div class="table-responsive">
          <table class="table border">
            <thead>
              <tr>
                <th width="10"></th>
                <th></th>
                <td width="20">Marks</td>
                <td colspan="6" class="text-center">Number of questions</td>
              </tr>
              <tr>
                <th colspan="2">Concpets</th>
                <td width="20" class="text-center">{{chap.totalMarks}}</td>
                <th width="50">1</th>
                <th width="50">2</th>
                <th width="50">3</th>
                <th width="50">5</th>
                <th width="50"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let concept of chap.concepts;">
                <td colspan="2">
                  <input style="margin-right:10px" type="checkbox" id={{concept.conceptId}} [(ngModel)]="concept.isSelected" (change)="onChangebox(chap,concept,$event)">
                  <label for={{concept.conceptId}} >{{concept.text}}</label>
                </td>
                <td class="text-center"> {{concept.total}}</td>
                <td *ngFor="let mHolder of concept.marksHolder;let i = index;">
                  <input id=a{{concept.conceptId}}-{{i}} type="number" min="0" max="10" style="width:50px" [value]="0" [disabled]="!concept.isSelected" (change)="onMarkChange(chap,concept,mHolder.key,$event)">
                </td>
                <!-- <td *ngFor="let smark of concept.marksHolder | keyvalue; trackBy: trackByMethod; let i = index;">
                  <input id=a{{concept.conceptId}}-{{i}} type="number" min="0" max="10" style="width:50px" [value]="0" [disabled]="!concept.isSelected" (change)="onMarkChange(chap,concept,smark.key,$event)">
                </td> -->
                <td>
                  <ng-container *ngIf="concept.isSelected && concept.total > 0">
                    <a (click)="viewQuestions(content,concept)">view</a>
                  </ng-container>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </p-accordionTab>
    
    </ng-container>
      <div class="table-responsive p-2">
        <table class="table">
          <tbody>
            <tr>
                <th colspan="1">Marks</th>
                <th width="200">{{mainTotal}}</th>
                <td ></td>
            </tr>
          </tbody>
        </table>
      </div>
  </p-accordion>
</div>

<!--  -->
