/* You can add global styles to this file, and also import other style files */

html,body {
    font-size: 13px;
}
.p-treetable .p-treetable-tbody > tr > td {
    padding:2px;
}

.p-accordion .p-accordion-content {
    padding:0px !important;
}


.p-accordion .p-accordion-header .p-accordion-header-link {
    padding:8px !important;

}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
